<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>
<body>
    {{/*  这是一个注释 */}}
    {{/*  移除空格 */}}
    <p>Hello {{- .Name -}}</p>
    <p>Your age is {{.Age}}</p>
</body>
</html>